<title>{{page.title}}</title>
<h1>{{page.header}}</h1><hr>
<div>

<div class = "productCon" id="product">
</div>
{{#each page.product}}
  <a href ="/products/{{{id}}}">{{name}}</a>
  <p></p>
{{/each}}
{{page.product.name}}

<button id="addToCart" type="button" value="{{page.product.id}}" class="btn btn-primary">Add to Cart</button>
{{{page.script}}}
</div>
