<h1>{{page.header}}</h1>
<div>

<div class = "productCon" id="product">
</div>
<!-- <h3>{{page.title}}</h3> -->
{{#each page.product}}
  <a href ="/products/{{{id}}}">{{name}}</a>
  <p></p>
{{/each}}
{{page.product.name}}

<!-- {{{page.script3}}} -->
{{{page.script}}}
</div>
