<title>{{page.title}}</title>
<h1>{{page.header}}</h1><hr>
<div>

<div class = "productCon" id="product">
</div>
{{page.product.name}}
<button id="addToCart" type="button" value="{{{page.product.id}}}" class="btn btn-primary">Add to Cart</button>

{{{page.script}}}
</div>
