<h1>{{page.header}}</h1>
<div>
  <table>
		{{#each user}}
      <tr>
        {{name}}
      </tr>
      <tr>
        {{email}}
      </tr>
      <tr>
        {{password}}
      </tr>
    {{/each}}
  </table>
</div>
{{script}}
